<nav class="navbar container fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="<%= root_path %>">Sarker24</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="text-white"> Article</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


          <div class="container" id ="list-seize">
            <div class="row">
              <div class="col-md-4">
                <span class="text-uppercase text-white"></span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="<%= coxbazar_index_url %>">কক্সবাজার</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="<%= corona_index_url %>">কোবিড-১৯</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="<%= kagrasori_index_url %>">খাগড়াছড়ি</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="<%= sajak_index_url %>">সাজেক</a>
                  </li>
                </ul>
              </div>
              <!-- /.col-md-4  -->
              <div class="col-md-4">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="<%= rangamati_index_url %>">রাঙ্গামাটি</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="<%= lalmai_index_url %>">লালমাই</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="<%= ahsanmanzil_index_url %>">আহসানমঞ্জিল</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="<%= foyslake_index_url %>">ফয়েসলেক</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="nav flex-column">
                  <li class="nav-item">
                     <a class="nav-link active" href="<%= boldhagarden_index_url %>">বলধাগার্ডেন</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="<%= zoo_index_url %>">চিড়িয়াখানা</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                  </li>
                </ul>
              </div>
              <!-- /.col-md-4  -->
              <div class="col-md-4">
                <a href="">
                 <!-- <img src="https://dummyimage.com/200x100/ccc/000&text=image+link" alt="" class="img-fluid"> -->
                </a>
                <p class="text-white"></p>

              </div>
              <!-- /.col-md-4  -->
            </div>
          </div>
          <!--  /.container  -->
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="text-white">Education</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <span class="text-uppercase text-white"></span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                  </li>
                </ul>
              </div>
              <!-- /.col-md-4  -->
              <div class="col-md-4">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                  </li>
                </ul>
              </div>
              <!-- /.col-md-4  -->
              <div class="col-md-4">
                <a href="">
                 <!-- <img src="https://dummyimage.com/200x100/ccc/000&text=image+link" alt="" class="img-fluid"> -->
                </a>
                <p class="text-white"></p>

              </div>
              <!-- /.col-md-4  -->
            </div>
          </div>
          <!--  /.container  -->


        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="text-white"> Motivation</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <span class="text-uppercase text-white"></span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                  </li>
                </ul>
              </div>
              <!-- /.col-md-4  -->

              <div class="col-md-4">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                  </li>
                </ul>
              </div>
              -->
              <!-- /.col-md-4  -->
              <div class="col-md-4">

                <a href="">
                <!--  <img src="https://dummyimage.com/200x100/ccc/000&text=image+link" alt="" class="img-fluid"> -->
                </a>
                <p class="text-white"></p>

              </div>
              <!-- /.col-md-4  -->
            </div>
          </div>
          <!--  /.container  -->


        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= about_index_path %>"> <span class="text-white">About</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>


</nav>